<!DOCTYPE html>
<html lang="en" ng-app="productApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách sản phẩm</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body ng-controller="productController">
    <div class="container">
        <h1 class="mt-4">Danh sách sản phẩm</h1>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th ng-click="sortBy('name')">Tên sản phẩm</th>
                    <th ng-click="sortBy('price')">Đơn giá</th>
                    <th ng-click="sortBy('discount')">Giảm giá</th>
                    <th ng-click="sortBy('date')">Ngày</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products | orderBy:'price' | limitTo:5:begin">
                    <td>{{ product.name | uppercase }}</td>
                    <td>{{ product.price | currency }}</td>
                    <td>{{ product.discount | percentage:2 }}</td>
                    <td>{{ product.date | date:'MMMM-dd, yyyy' }}</td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" ng-click="first()"> <i class="fas fa-angle-double-left"></i></a>
                </li>
                <li class="page-item">
                    <a class="page-link" ng-click="prev()"> <i class="fas fa-angle-left"></i></a>
                </li>
                <li class="page-item">
                    <a class="page-link" ng-click="next()"> <i class="fas fa-angle-right"></i></a>
                </li>
                <li class="page-item">
                    <a class="page-link" ng-click="last()"> <i class="fas fa-angle-double-right"></i></a>
                </li>
            </ul>
        </nav>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script>
        angular.module('productApp', [])
            .controller('productController', function($scope, $http) {
                $scope.products = [];
                $scope.begin = 0;
                $scope.prop = 'name';
                // Di chuyển tính toán pageCount vào trong callback thành công của $http.get
                $http.get("Prods2.js").then(function(response) {
                    $scope.products = response.data;
                    $scope.pageCount = Math.ceil($scope.products.length / 5);
                });

                $scope.first = function() {
                    $scope.begin = 0;
                }

                $scope.prev = function() {
                    if ($scope.begin > 0) {
                        $scope.begin -= 5;
                    }
                }

                $scope.next = function() {
                    if ($scope.begin < ($scope.pageCount - 1) * 5) {
                        $scope.begin += 5;
                    }
                }

                $scope.last = function() {
                    $scope.begin = ($scope.pageCount - 1) * 5;
                }

                $scope.sortBy = function(prop) {
                    $scope.prop = prop;
                };
            })
            .filter('percentage', ['$filter', function($filter) {
                return function(input, decimals) {
                    return $filter('number')(input * 100, decimals) + '%';
                };
            }]);
    </script>

</body>

</html>